
a
{
    text-decoration:None;
}
abbr{
    text-decoration:None;
}

h2 {
    background-color:grey;
    position: sticky;
    top: 0;
}

.one{
    margin-left:80%;

}

.abb{
    width:2800px;

}



.ccc{
    text-align:justify;
    
}

body{
    text-align:justify;
}


.footer{
    font-size:10px;
}


.abc{
    float:right;
    margin-right: 20px;
    width:100px
        }
